@CHARSET "ISO-8859-1";
h1 {
	text-align: center;
}

nav {
	text-align: right;
	padding-bottom: 10px;
}

nav a{
	margin-left: 10px;
	font-size: small;
}


h2 {
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	font-size: x-large;
}

h3{
	color:maroon;
}

input{

	display: inline-block;
}

th{
	color:maroon;
	text-align: center;
}

.loginTableth {
	padding: 20px;
	text-align:center;
    background-color:DarkCyan;
    color: maroon;
}

.registration {
	padding: 10px;
	text-align:black;
    background-color:DarkCyan;
    color: maroon;
}

.credentials{
	padding:10px;
	padding-bottom:40px;
	border: 5px solid DarkCyan;
	margin-top:200px;
	width:700px;
	position:relative;
	margin:0 auto;
	text-align:center;
	color:maroon;
}
.generic{
	width: inherit;
	height: inherit;
	border:3px double gray;
	color: maroon;
	text-align: center;
}

.title{
	padding:10px;
	background-color: DarkCyan;
	height: 50px;
	width: inherit;
	text-align: center;
}

.userInformation{
	margin:5px;
	border:3px double gray;
	padding:3px;
	text-align: left;
	font-weight: bold;
}
.userInformation a{
	color:blue;
}
.division{
	background-color: DarkCyan;
	height:1px;
	padding:0px;
	border:0;
}
.release{
	font-weight: bold;
	font-size: medium;
	margin:4px;
}
.hidden{
	display: none;
}

